<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/blog.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>blog</title>
</head>
<body>
    <header class="sticky-top">
        <nav class="navbar  navbar-expand-lg  navbar-light bg-light ">
            <div class="container">
                
                <span class="navbar-brand">
                    <img src="img/logo.png" alt="logo" style="width: 10%;">
                    <span class="lead">Mikroportal</span>
                </span>
                <button class="navbar-toggler mt-1" type="button" 
                data-bs-toggle="collapse" data-bs-target="#navbarContent" 
                aria-controls="navbarContent" aria-expanded="false" aria-label="Menu">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarContent">
                    <ul class="navbar-nav h4">
                        <li class="nav-item">
                            <a href="/logout" class="nav-link " >Wyloguj</a>
                            
                        </li>
           
                    </ul>
                </div>
            </div>
    
    
        </nav>
    </header>
    <section>
        <div class="container-fluid p-0 m-0 h-100">
            <div class="row">
                <div class="col-12 p-0 m-0">
                    <form action="/" class="row p-0 m-0 ">
                        <div class="row p-0 m-0 h-100">
                            <!-- First question and ing -->
                            <div class="col-md-7  col-WithImg-1  bg-dark d-none d-md-block ">
                               <div class="row d-flex justify-content-center ">
                                <div class="col-9 mt-3">
                                   
                                    <blockquote class="blockquote">
                                        <div class="display-6 text-dark p-1 text-center">
                                            Żeby wykąpać kota, potrzeba brutalnej siły, wytrwałości, głębokiego przekonania o słuszności działania… 
                                            no i trzeba mieć kota. Ten ostatni warunek najtrudniej spełnić.
                                        </div>    
                                    </blockquote>
                                
                               
                                </div>
                               </div>
                            </div>
                            <div class="col-md-5 d-flex justify-content-center align-items-center p-4  col-WithCard-1 ">

                                <div class="card w-50 text-dark">
                                    <div class="card-header">
                                        <h5>Powiedz nam czy lubisz koty ?</h5>
                                    </div>
                                    <div class="card-body">
                                      <h5 class="card-title"></h5>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="cat-radio" id="cat-radio-yes">
                                                <label class="form-check-label" for="cat-radio-yes">
                                                    Tak
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="cat-radio" id="cat-radio-no" checked>
                                                <label class="form-check-label" for="cat-radio-no">
                                                    Nie
                                                </label>
                                            </div>
                                      </div>
                                </div>
                                  
                                
                            </div>
                            <div class="col-12 col-WithSvg-1 d-none d-md-block p-0 m-0 text-center">
                                <a href="#q2"><span class="arrow-down" >&#8681;</span></a>
                              
                            </div>
                            <!-- end fq  -->
                            <!-- Second question and img -->
                            <span id="q2">&nbsp;</span>
                            <div class="col-md-5 col-WithCard-2 d-flex justify-content-center align-items-center p-4"  >
                              
                              <div class="card w-50 text-dark" >
                                <div class="card-header">
                                    <h5>Powiedz nam czy lubisz psy ?</h5>
                                </div>
                                <div class="card-body">
                                  <h5 class="card-title"></h5>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="cat-radio" id="cat-radio-yes">
                                            <label class="form-check-label" for="cat-radio-yes">
                                                Tak
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="cat-radio" id="cat-radio-no" checked>
                                            <label class="form-check-label" for="cat-radio-no">
                                                Nie
                                            </label>
                                        </div>
                                  </div>
                                </div>
                            </div>

                            <div class="col-md-7  col-WithImg-2  d-none d-md-block p-4" >
                                <div class="row  d-flex justify-content-center ">
                                    <div class="col-8   mt-3">
                                        <blockquote class="blockquote">
                                            <div class="display-6 text-dark p-1 text-center">
                                                Kobiety i koty zawsze będą  robić  to, co chcą, a mężczyźni i psy powinni się zrelaksować i  powoli  oswajać z tą myślą
                                            </div>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-WithSvg-2 d-none d-md-block text-center">
                                <a href="#q3"><span class="arrow-down">&#8681;</span></a>
                            </div>
                            <!-- End Sq -->
                            <!-- Trhird question and img -->
                            <div class="col-md-7 col-WithImg-3  d-none d-md-block" id="q3">
                                <div class="row  d-flex justify-content-center ">
                                    <div class="col-8   mt-3">
                                        <blockquote class="blockquote">
                                            <div class="display-6 text-white p-1 text-center">
                                                Nie narzekajcie na pogodę. Gdyby co jakiś czas się nie zmieniała, większość ludzi nie wiedziałaby jak zacząć rozmowę.
                                            </div>
                                     </blockquote>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 col-WithCard-3 d-flex justify-content-center align-items-center">
                                <div class="card w-75 text-dark">
                                    <div class="card-header">
                                        <h5>Opisz aktualną pogodę</h5>
                                    </div>
                                    <div class="card-body">
                                      <h5 class="card-title"></h5>
                                          
                                            <div class="mb-3">
                                                <label for="textarea" class="form-label">Opis</label>
                                                <textarea class="form-control" id="textarea" rows="3"></textarea>
                                            </div>
                                      </div>
                                    </div>
                            </div>
                            <!-- end tq -->
                            <!-- submit  form -->
                            <div class="col-12 col-WithSvg-3 d-flex justify-content-center align-items-center py-5">
                                <button type="submit" class="btn btn-primary">Zapisz odpowiedzi</button>
                            </div>
                            <!--end sf  -->
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>